@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #0d1b2a;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Permanent Marker", cursive;
  background: #c1d7ae;
}

i {
  font-size: 17px;
}

button {
  font-family: "Permanent Marker", cursive;
  color: #0d1b2a;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #968e85;
  height: 40px;
  background: #ecdcb0;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.flex {
  max-width: 1400px;
  margin: auto;
}

header {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
}

/*----LEFT SIDE----*/
.left-content {
  width: 240px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  height: 540px;
  justify-content: space-around;
}

.inputColor {
  margin: 0 auto;
  width: 50%;
  height: 50px;
  border-radius: 20px;
  /* border-radius: 50px; */
  overflow: hidden;
}

input[type="color"] {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%);
}

.labels {
  margin: auto;
  width: 158px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#range {
  display: block;
  width: 100%;
  accent-color: #0d1b2a;
  cursor: pointer;
  background: #ecdcb0;
}

.selected {
  color: #ecdcb0;
  background: #0d1b2a;
}

/*----BOXES----*/
#container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 10px 4px #968e85;
  box-shadow: 0px 0px 10px 4px #968e85;
  width: 540px;
  height: 540px;
  border: 1px solid #968e85;
}

.boxes {
  /* border-bottom: 1px solid #968e85;
  border-right: 1px solid #968e85; */
  background: #ecdcb0;
}

/*----FOOTER----*/
footer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  color: #646464;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: auto;
  height: 30px;
}

.fa-github {
  color: #646464;
  font-size: 1.35rem;
}

.fa-github:hover {
  animation: github-animation 0.5s ease infinite alternate;
}

@keyframes github-animation {
  from {
    transform: translateY(0rem) scale(1.2);
  }
  to {
    transform: translateY(-0.3rem) scale(1.2);
  }
}

@media (min-width: 1400px) {
  .content {
    margin-top: 5%;
  }

  footer {
    margin-top: 5%;
    margin-bottom: auto;
  }
}

@media (max-width: 1100px) {
  header {
    font-size: 20px;
  }

  button {
    font-size: 12px;
    height: 20px;
  }

  .content {
    flex-direction: column-reverse;
    padding: 0 2%;
  }

  .left-content {
    width: 180px;
    height: 250px;
    margin-top: 3%;
  }

  .inputColor {
    width: 40px;
    height: 40px;
  }

  footer {
    margin-bottom: auto;
  }
}
