* {
  margin: 0;
  padding: 0;
}

body {
  background: #f0f1f3;
  font-family: "Zen Dots", cursive;
  height: 95vh;
  margin: auto;
  padding-top: 1rem;
  width: 95%;
  text-align: center;
}

/* HEADER */
h1 {
  color: rgb(70, 13, 9);
  font-size: 3.1rem;
  margin: 1rem 0px;
}

h2 {
  color: #86273c;
  font-size: 1.9rem;
  margin: 1rem 0px;
}

h3 {
  color: #af3636;
  font-size: 1rem;
  margin: 1rem 0px;
}

/* BUTTONS */
.optionBtn {
  justify-content: space-between;
  display: flex;
  height: 94px;
  margin: auto;
  margin-bottom: 1.9rem;
  width: 500px;
}

.optionBtn div {
  border: 4px solid #5f0b3d;
  color: rgb(23, 23, 27);
  cursor: pointer;
  font-size: 4rem;
  font-weight: bold;
  height: 76px;
  margin-bottom: 1.9rem;
  padding-top: 0.6rem;
  text-align: center;
  width: 76px;
}

.optionBtn div:hover {
  background: #ffd43b;
  border: 5px solid #5f0b3d;
  transform: scale(1.2);
}

/* OUTPUTS: COMPUTER SCORE-PLAYER SCORE */
.scores {
  align-items: center;
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  margin: auto;
  margin-bottom: 20px;
  width: 396px;
}

.scores div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  border: 3px solid rgb(27, 27, 31);
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
}

#playerScore {
  margin-right: 30px;
}

#playerLabel {
  font-size: 12px;
  font-weight: bold;
  color: #5f0b3d;
  display: inline-block;
  text-align: end;
  /* padding-left: 21px; */
  /* margin-left: 23px; */
  margin-right: 3px;
  width: 124px;
}

#compLabel {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: #5f0b3d;
  display: inline-block;
  margin-left: 3px;
  width: 124px;
  text-align: start;
}

/* RESULTS */
.resultsLabel {
  margin-bottom: 2px;
}

#resultsLabel {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #5f0b3d;
}

#roundResults {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 120px;
  border: 5px solid rgb(27, 27, 31);
  text-align: center;
  font-weight: bolder;
  font-size: 14px;
  margin: auto;
  margin-bottom: 2px;
}

/* RESET */
#reset {
  width: 160px;
  height: 40px;
  margin-top: 20px;
  background-color: #5f0b3d;
  color: #d45069;
  font-size: 20px;
  cursor: pointer;
  font-family: "Zen Dots", cursive;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.31rem;
  width: 100%;
  color: #646464;
  font-size: 0.62rem;
  margin-top: 2.7rem;
}

.footer p {
  margin-bottom: 0;
}

.fa-github {
  color: #646464;
  font-size: 12px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

@media (max-width: 1068px) {
  h1 {
    font-size: 3.3rem;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 2rem;
  }

  .optionBtn {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    margin: 120px 0px;
  }

  .optionBtn div {
    border: 5px solid #5f0b3d;
    font-size: 6rem;
    height: 100px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    width: 100px;
  }

  .optionBtn div:hover {
    border: 6px solid #5f0b3d;
  }

  .scores {
    width: 100%;
    margin-bottom: 100px;
    justify-content: center;
  }

  .scores div {
    width: 80px;
    height: 40px;
    border: 4px solid rgb(27, 27, 31);
    font-size: 20px;
  }

  #playerScore {
    margin-right: 100px;
  }

  #playerLabel {
    font-size: 19px;
    width: 178px;
    text-align: end;
    margin-right: 10px;
  }

  #compLabel {
    width: 208px;
    font-size: 19px;
    text-align: start;
    margin-left: 10px;
  }

  #resultsLabel {
    font-size: 22px;
  }

  #roundResults {
    width: 530px;
    height: 180px;
    border: 6px solid rgb(27, 27, 31);
    font-size: 20px;
    margin-bottom: 50px;
  }

  .footer {
    gap: 0.31rem;
    font-size: 0.75rem;
    margin-top: 2.7rem;
  }

  .fa-github {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 27px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 1rem;
  }

  .optionBtn {
    justify-content: space-around;
    width: 100%;
    height: 94px;
    margin: 60px 0px;
  }

  .optionBtn div {
    border: 3px solid #5f0b3d;
    font-size: 4.4rem;
    height: 80px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 80px;
  }

  .scores {
    width: 410px;
    margin-bottom: 30px;
  }

  .scores div {
    width: 50px;
    height: 30px;
    border: 3px solid rgb(27, 27, 31);
    font-size: 14px;
  }

  #playerLabel {
    font-size: 13px;
    width: 105px;
  }

  #compLabel {
    width: 130px;
    font-size: 13px;
  }

  #playerScore {
    margin-right: 28px;
  }

  #resultsLabel {
    font-size: 16px;
  }

  #roundResults {
    width: 330px;
    height: 100px;
    border: 3px solid rgb(27, 27, 31);
    font-size: 14px;
    margin-bottom: 20px;
  }
}
