@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ffd7ba;
  --secondary: #fec89a;
  --emphasis: #a52a2a;
  --font: #fefae0;
  --padding: 2rem;
}

body {
  background: var(--primary);
  font-family: 'Libre Baskerville', serif;
  color: var(--emphasis);
}

/*----------ELEMENT SELECTORS----------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background: var(--secondary);
  padding: 0 2rem;
  box-shadow: 0px 5px 15px 0px var(--emphasis);
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  display: flex;
  /* grid-template-columns: 4fr 1fr; */
  flex-direction: row-reverse;
  padding: 3rem 2rem 0 2rem;
  /* position: relative; */
  justify-content: space-between;
}

aside {
  /* grid-column: 2 / 3;
  grid-row: 1 / 2; */
  position: sticky;
  top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: var(--padding);
  height: 70vh;
  padding-bottom: 1rem;
  flex-basis: 20%;
}

section {
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 14.5rem);
  grid-auto-rows: max-content;
  gap: var(--padding);
  justify-content: center;
  flex-basis: 90%;
  /* grid-template-rows: repeat(auto-fit, 17rem); */
  /* grid-template-rows: repeat(auto-fit, minmax(17rem, auto)); */
}

h1 {
  font-size: 2.5rem;
  color: var(--emphasis);
  letter-spacing: 3px;
}

button {
  height: 3rem;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--emphasis);
  color: var(--font);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: inherit;
  line-height: 0;
}

hr {
  border-bottom: 1px solid var(--secondary);
  height: 0;
  width: 100%;
}

/*----------SIDE----------*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 18rem;
  justify-content: space-between;
}

.content h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.content .book-info {
  font-size: 0.8rem;
  padding: 1rem;
  width: 100%;
}

.content .book-info .info {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.add-book {
  width: 60px;
  height: 60px;
  align-self: center;
  cursor: pointer;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 0.3rem var(--emphasis));
}

.add-book:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/*----------BOOK CARDS----------*/
.card {
  border-radius: 1rem;
  /* height: 17rem; */
  /* min-height: 17rem; */
  background: var(--font);
  color: var(--emphasis);
  box-shadow: 0px 0px 10px 4px rgba(165, 42, 42, 0.56);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  line-height: 0.9;
  font-size: 0.9rem;
  justify-content: space-between;
}

.book-label {
  background: var(--secondary);
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 1rem;
  width: 100%;
  /* font-size: 0.9rem; */
}

.book-title,
.book-author,
.book-page {
  padding: 0.5rem 0.2rem;
  width: 100%;
  text-align: center;
  height: 2.2rem;
  word-wrap: break-word;
}

.book-read {
  background: #c4d0db;
  margin: 1rem;
  margin-top: 2rem;
  padding: 0 1rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
}

.book-read.read {
  background: #ccd5ae;
}

.card button {
  width: 100%;
  padding: 0 1rem;
  height: 1.4rem;
  border-radius: 1rem;
  font-size: 1rem;
}

/*----------INPUT FORM / ADD BOOK----------*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.input-form {
  margin: 5% auto;
  width: 25rem;
  height: auto;
  border-radius: 1rem;
  border: 0.5rem solid var(--emphasis);
  position: relative;
  background: var(--secondary);
  box-shadow: 0px 0px 10px 4px rgba(165, 42, 42, 0.56);
  display: flex;
  flex-direction: column;
  animation: appearForm 0.5s ease-in-out forwards;
  align-items: center;
}

.form-title {
  background: var(--emphasis);
  color: var(--font);
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

form {
  padding: 0 2rem;
}

input[type='text'],
input[type='number'] {
  height: 3rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
  display: block;
  border: none;
  background: var(--font);
  outline: none;
}

input[type='checkbox'] {
  margin-left: 0.5rem;
  zoom: 1.6;
  background: var(--font);
}

.check-read {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

form button {
  width: 100%;
  margin: 2rem 0;
}

.input-form img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

@keyframes appearForm {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
