@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

:root {
  --button-color: #111111;
  --transparent-color: rgba(17, 17, 17, 0.5);
  --text-color: #edebd5;
  --button-text: #fff;
  --border-color: #7e5f3f;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Nunito', sans-serif;
}

button {
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  color: var(--button-text);
  height: 3rem;
  border: none;
  font-size: 1rem;
  font-weight: 400;
}

/* button [type='submit'] {
  margin-top: 1.5rem;
  background: blue;
} */

form {
  width: 32rem;
}

input {
  width: 15rem;
  font-family: inherit;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.4rem;
  height: 2.5rem;
  margin: 0.3rem 0 1rem 0;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

/* input:focus {
  border: 1px solid #23448e;
  -webkit-box-shadow: none;
  box-shadow: none;
} */

label {
  font-size: 0.9rem;
  display: block;
  text-transform: uppercase;
}

label span {
  text-transform: capitalize;
  color: var(--border-color);
  font-size: 0.8rem;
}

/*----LEFT SIDE----*/
.bg {
  /* overflow: hidden;
  margin-bottom: auto; */
  width: 40vw;
  /* flex: 2; */
  background: url(img/karl-paul-baldacchino-p1dtEefClWY-unsplash.jpg) no-repeat
    center center / cover;
  position: sticky;
  height: 100vh;
}

.transparent-row {
  background: var(--transparent-color);
  height: 5rem;
  width: 100%;
  top: 5rem;
  position: absolute;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-svg {
  display: flex;
}

.brand-svg img {
  height: 4rem;
}

.brand {
  text-transform: uppercase;
  font-size: 3.2rem;
  /* font-weight: 600; */
  color: var(--text-color);
  letter-spacing: 1.5rem;
  margin-left: 1.5rem;
  font-family: 'Monoton', cursive;
}

/*----FORM SIDE---*/
main {
  width: 60vw;
  display: flex;
  justify-content: center;
  /* flex: 4; */
  padding: 2rem 0rem;
  background: #f9fafb;
}

.container {
  width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--button-text);
  box-shadow: 0px 0px 10px 4px rgba(17, 17, 17, 0.1);
}

.title {
  text-align: center;
  width: 20rem;
  padding: 0.2rem 0;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
  font-family: 'Kanit', sans-serif;
}

.login-text {
  text-align: center;
  width: 20rem;
  font-size: 1rem;
}

.login-text a {
  font-weight: 600;
  color: var(--border-color);
}

.facebook {
  width: 20rem;
  background: #0d6ce3;
  margin-top: 3rem;
}

.facebook:hover {
  background: #23448e;
}

button i {
  margin-right: 0.6rem;
  color: var(--button-text);
  width: 1rem;
}

.text {
  font-size: 0.8rem;
  margin: 1rem 0;
}

/*----FORM CONTROL----*/
.name-row,
.email-row,
.password-row {
  /* gap: 3rem; */
  display: flex;
  justify-content: space-between;
}

.submit {
  letter-spacing: 0.1rem;
  margin: 1.5rem 0;
  background: var(--border-color);
}

.submit:hover {
  background: var(--button-color);
}

/*----RESPONSIVE DESIGN----*/
@media (max-width: 1000px) {
  .transparent-row {
    height: 3rem;
  }

  .brand {
    font-size: 2rem;
  }

  .brand-svg img {
    height: 3rem;
  }
}

@media (max-width: 680px) {
  .transparent-row {
    height: 2rem;
  }
  .brand {
    font-size: 1rem;
  }

  .brand-svg img {
    height: 2rem;
  }
}
