* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: rgb(242, 193, 78);
  --winning-blocks: #2d414b;
}

body {
  /* margin: auto; */

  /* width: 100vw; */
  /* margin-top: auto; */
  /* padding: 40px; */
  height: 100vh;

  flex-direction: column;
  background-color: #37505c;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  color: var(--orange);
  font-family: 'Finger Paint', cursive;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.container {
  padding: 4.5rem;
  gap: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

#playerText {
  font-size: 2rem;
}

.left-content {
  /* flex-basis: 20%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: flex-start; */
  justify-content: space-around;
  height: 450px;
}

#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 80%; */
  /* margin-top: 20px; */
  /* margin: 30px 0; */
}

.box {
  cursor: pointer;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  font-size: 120px;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.box:hover {
  background-color: #575661;
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(6) ~ .box {
  border-bottom: none;
}

button {
  width: 120px;
  margin-top: 20px;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: var(--orange);
  color: #333;
  border-color: var(--orange);
  font-size: 16px;
  transition: 200ms transform;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

/*----FOOTER----*/
footer {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  color: rgba(242, 193, 78, 0.5);
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-top: auto;
  height: 30px;
  padding-bottom: 0.5rem;
}

.fa-github {
  color: rgba(242, 193, 78, 0.5);
  font-size: 1.35rem;
}

.fa-github:hover {
  animation: github-animation 0.5s ease infinite alternate;
}

@keyframes github-animation {
  from {
    transform: translateY(0rem) scale(1.2);
  }
  to {
    transform: translateY(-0.3rem) scale(1.2);
  }
}

/* #gameboard {
  background-color: #faedcd;
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ca5310;
} */

/* .board-container {
  background-color: #faedcd;
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ca5310;
}

.cell {
  height: 150px;
  width: 150px;
  background-color: #faedcd;
  box-sizing: border-box;
  border: 2px solid #ca5310;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 150px;
  font-size: 100px;
  cursor: pointer;
}

.cell:hover {
  background-color: #fefae0; 
  background-color: #e7c8a0;
} */
