* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #0d1b2a;
  font-family: "Open Sans", sans-serif;
  background: #c1d7ae;
}

i {
  font-size: 17px;
}

button {
  color: #0d1b2a;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #968e85;
  height: 40px;
  background: #ecdcb0;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* button:nth-of-type(1) {
  color: #ecdcb0;
  background: #0d1b2a;
} */

header {
  position: absolute;
  padding: 0 4% 0 8%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 14%;
  gap: 15%;
  margin-top: 25px;
}

/*----LEFT SIDE----*/
.leftContent {
  width: 240px;
  display: flex;
  flex-direction: column;
  height: 440px;
  justify-content: space-around;
}

.inputColor {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
}

input[type="color"] {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%);
}

.labels {
  margin: auto;
  width: 158px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#range {
  display: block;
  width: 100%;
  accent-color: #0d1b2a;
  cursor: pointer;
  background: #ecdcb0;
}

.selected {
  color: #ecdcb0;
  background: #0d1b2a;
}

/*----BOXES----*/
#container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 10px 4px #968e85;
  box-shadow: 0px 0px 10px 4px #968e85;
  width: 540px;
  height: 540px;
  border: 1px solid #968e85;
}

.boxes {
  /* border-bottom: 1px solid #968e85;
  border-right: 1px solid #968e85; */
  background: #ecdcb0;
}

/*----FOOTER----*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  color: #646464;
  font-size: 1rem;
  margin-top: 1.5rem;
  height: 30px;
}

.fa-github {
  color: #646464;
  font-size: 1.35rem;
  /* transition: transform 0.3s ease-in-out; */
}

.fa-github:hover {
  animation: github-animation 0.5s ease infinite alternate;
}

@keyframes github-animation {
  from {
    transform: translateY(0rem) scale(1.2);
  }
  to {
    transform: translateY(-0.3rem) scale(1.2);
  }
}
